body {
  background: url(../public/images/irish_flag.jpeg) no-repeat center center
    fixed;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}

main {
  max-width: 1200px;
  margin: 20px auto;
}

.images {
  height: 200px;
}

.homeContainer {
  margin-top: 80px;
}

.content {
  font-size: 22px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
